{% extends 'instruct.html.twig' %}

{% block text %}
<div class="container mt-3">
    <h5 class="text-center mb-3">Voor de afbeelding kunt u de route meegeven</h5>

    {{ form(form) }}
</div>
{% endblock %}