{% extends 'instruct.html.twig' %}

{% block text %}
    <div class="container">
        <h4 class="text-center mt-2">welkom {{ name.firstname }} {{ name.lastname }}<br> dit is de homepagina voor u waarop u verder kunt naar het beheren van lessen</h4>
    </div>
{% endblock %}