{% extends 'base.html.twig' %}

{% block text %}
    <div class="container mt-2">
        <h6 class="text-center mt-2 mb-3">Welkom op de registratiepagina van Trainings Factory. <br> Hier kunt u een account aanmaken om voor lessen in te schrijven</h6>
        {{ form(form) }}
    </div>
{% endblock %}